/* 
Theme Name: Kadence hijo 
Template: kadence 
Nombre de la carpeta del tema padre 
Description: Kadence is a responsive, accessible, high-resolution theme 
License URI: http://www.gnu.org/licenses/gpl-2.0.html 
Text Domain: kadence-hijo 
*/